<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tau Weekend Calculator</title>
    <script src="scripts/jquery.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/master.css">
</head>

<body>
    <h1>Tau Weekend Calculator</h1>
    <div class="calculator">
        <div class="display">
            <button type="button" class="calculator-key clear-key" data-value="Clear">CLR</button>
            <p class="answer-output"></p>
        </div>
        <div class="calculator-keys">
            <div class="top-row">
                <button type="button" class="calculator-key number-key" data-value="7">7</button>
                <button type="button" class="calculator-key number-key" data-value="8">8</button>
                <button type="button" class="calculator-key number-key" data-value="9">9</button>
                <button type="button" class="calculator-key operator-key" data-value="Divide">/</button>
            </div>
            <div class="middle-top-row">
                <button type="button" class="calculator-key number-key" data-value="4">4</button>
                <button type="button" class="calculator-key number-key" data-value="5">5</button>
                <button type="button" class="calculator-key number-key" data-value="6">6</button>
                <button type="button" class="calculator-key operator-key" data-value="Multiply">*</button>
            </div>
            <div class="middle-botom-row">
                <button type="button" class="calculator-key number-key" data-value="1">1</button>
                <button type="button" class="calculator-key number-key" data-value="2">2</button>
                <button type="button" class="calculator-key number-key" data-value="3">3</button>
                <button type="button" class="calculator-key operator-key" data-value="Subtract">-</button>
            </div>
            <div class="bottom-row">
                <button type="button" class="calculator-key number-key" data-value="0">0</button>
                <button type="button" class="calculator-key number-key" data-value=".">.</button>
                <button type="button" class="calculator-key equals-key" data-value="=">=</button>
                <button type="button" class="calculator-key operator-key" data-value="Add">+</button>
            </div>
        </div>
    </div>
</body>

</html>
