<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tau Weekend Calculator</title>
        <script src="scripts/jquery.min.js" charset="utf-8"></script>
        <script src="scripts/client.js" charset="utf-8"></script>
        <link rel="stylesheet" href="css/master.css">
    </head>
    <body>
        <h1>Tau Weekend Calculator</h1>
        <input type="number" id="firstNumIn">
        <select id="operationIn">
            <option value="Add">+</option>
            <option value="Subtract">-</option>
            <option value="Multiply">*</option>
            <option value="Divide">/</option>
        </select>
        <input type="number" id="secondNumIn">
        <button type="button" id="calculateButton">=</button>
        <p id="answerOut"></p>
        <button type="button" id="clearButton">CLR</button>
    </body>
</html>
