body {
    font-size: 32px;
    font-family: monospace;
}

.display {
    height: 80px;
}

.calculator-key {
    height: 80px;
    font-size: 32px;
    font-family: monospace;
    border: 1px solid black;
}

.answer-output {
    text-align: right;
    line-height: 70px;
}
